/* finance-page.css */
* {
    font-size: 110%;
}

.finance-page {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  background: #0a0a0a;
  margin-bottom: 250px; /* Espacio para el gráfico */
}
  
.transaction-form {
  margin-bottom: 20px;
}

.transaction-list {
  margin-bottom: 20px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.transaction.income {
  color: #4caf50; /* Verde para ingresos */
}

.transaction.expense {
  color: #f44336; /* Rojo para gastos */
}

